@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
 * {
	font-family: 'Ubuntu', 'Noto Sans SC', sans-serif !important;
}
div[data-test-id="post-sidebar"] {
	display: none;
}
p[data-selectable-paragraph],
li[data-selectable-paragraph] {
	font-size: 18px;
}
h1[data-selectable-paragraph] {
	font-size: 32px !important;
	letter-spacing: -0.011rem;
	margin-bottom: 16px !important;
}
h1.gb {
	font-weight: 700;
}
h2 {
	letter-spacing: -0.011rem !important;
}
h2[data-selectable-paragraph] {
	font-size: 24px !important;
	letter-spacing: -0.011rem;
}
blockquote {
	background-color: whitesmoke;
	border-left: 4px solid lightgrey;
	padding-left: 16px !important;
	box-shadow: none !important;
	margin-left: 0 !important;
}
blockquote p {
	padding: 16px !important;
	font-size: 18px !important;
	font-style: italic;
	line-height: 36px !important;
}
blockquote p::first-letter {
	text-transform: capitalize;
}
figure {
	box-shadow: 3px 5px 10px 0px lightgrey;
	padding: 16px !important;
	border-radius: 16px;
	margin-left: auto;
	margin-right: auto;
	max-width: 680px;
}
figure iframe {
	overflow-y: hidden;
}
article > div > section:first-of-type > div:first-of-type > div > div:last-of-type > div:last-of-type {
	box-shadow: 3px 5px 10px 0px lightgrey;
	padding: 20px;
	border-radius: 16px;
}
section > div > div {
	max-width: 680px !important;
	margin: 0 auto;
}
aside {
	display: none;
}
@media print {
	figure,
	img {
		page-break-inside: avoid !important;
	}
}
@media(prefers-color-scheme: dark) {
	article, article * {
		color: white !important;
		background-color: #313131;
	}
	article mark {
		background-color: #525252 !important;
	}
	article > div > section:first-of-type > div:first-of-type > div > div:last-of-type > div:last-of-type,
	article > div > section:first-of-type > div:first-of-type > div > div:last-of-type > div:last-of-type * {
		background-color: #212529;
		color: white;
	}
	article {
		padding-bottom: 2rem;
	}
	article > div > div:first-of-type {
		width: 0;
	}
	div[tabindex="-1"] {
		background-color: #525252;
	}
}
